<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVA MLOps Pipeline Trigger</title>
</head>
<body>
    <h1> MLOps Pipeline </h1>
    <form action="/trigger_pipeline" method="POST">
        <label for="branch">Branch:</label>
        <input type="text" id="branch" name="branch" value="refs/heads/master"><br><br>

        <label for="debug">Debug Mode:</label>
        <input type="checkbox" id="debug" name="debug" value="true"><br><br>

        <input type="submit" value="Trigger Pipeline">
    </form>
</body>
</html>
